@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 5;
  font-family: "Arial";
  color: #333;
}

/*PAGE STRUCTURE*/
.page {
  display: flex;
  flex: auto;
  flex-direction: column;
}
.header {
  flex: auto;
}
.footer {
  flex: auto;
}
.just-space {
  width: 30px;
}

.body {
  display: flex;
  flex-direction: column;
}

.body-text {
  margin: 20px;
  font-size: 30px;
  flex: auto;
  justify-content: center;
}

.body-buttons {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 8px;
  height: 100%;
}

.body-content {
  display: flex;
  background-color: rgb(253, 192, 78);
  padding: 20px;
  max-width: auto;
  margin: 20px;
  border-radius: 8px;
  justify-content: center;
}

.account-body-content {
  display: flex;
  background-color: rgb(253, 192, 78);
  padding: 20px;
  max-width: auto;
  margin: 20px;
  border-radius: 8px;
  justify-content: left;
}

/*BUTTONS*/

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 10px 18px black;
  float: right;
}

.button-register {
  background-color: rgb(253, 192, 78);
}

.button-cancel {
  background-color: #ff605c;
}

.button-logout {
  color: #333;
  background-color: rgb(253, 192, 78);
  margin: 0px;
  float: right;
}

.button-logout:hover {
  color: white;
}

button:hover {
  background-color: black;
  box-shadow: none;
}

/*OPEN in COMPONENTS*/
.open {
  margin: 20px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 10px 18px black;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  position: absolute;
  font-weight: bold;
}

.open-header {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  position: absolute;
  right: 50px;
}

.open-header:hover {
  color: #4caf50;
}

.open-inputs {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.open-input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 400px;
}

.open-input > input {
  padding: 10px;
  font-size: 20px;
  border: 0.25px solid gray;
}

.open-buttons {
  display: flex;
  /* flex-direction: column; */
  float: left;
}

/*NAVBAR*/
.navbar {
  background-color: rgb(253, 192, 78);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  /*flex: auto;*/
  display: flex;
  /*justify-content: center;*/
  font-size: 30px;
}
@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
  }
}
.navbar-part {
  flex: auto;
}

.navbar-part-item {
  padding: 5px 20px;
  float: left;
  justify-content: center;
}

.navbar-logo {
  flex: auto;
  padding: 5px 20px;
  float: left;
  justify-items: center;
  text-align: center;
  text-decoration: solid;
}

.navbar-item:hover {
  opacity: 0.8;
  border-bottom: #333 solid;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: red;
}

.link:target {
  color: green;
}

/*FOOTER*/
.foobar {
  background-color: rgb(253, 192, 78);
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

/*WELCOME*/
.body-action-welcome {
  height: 100%;
}

/*ACCOUNT*/
.account-inputs {
  padding: 20px;
}

.account-inputs > div > input {
  padding: 10px;
  font-size: 15px;
}
.account-input {
  padding: 10px;
}

.field-1 {
  font-size: 20px;
  color: gray;
}
.field-2 {
  font-size: 30px;
}

.account-buttons {
  flex: auto;
}

/*TRANSFER*/

/*RESERVATION*/

/*LOGOUT*/

/*MAIN*/

/*QUESTION*/
.question {
  margin: 20px;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 10px 18px black;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/*TABLE*/
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px black;
}

.styled-table th {
  background-color: black;
  text-align: left;
  color: white;
  padding: 12px 15px;
}

.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
